# Activar el módulo Rewrite
RewriteEngine On

# Redirigir todas las solicitudes a index.php si el archivo o directorio no existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Redirigir a rutas específicas
RewriteRule ^home$ home.php [L]
RewriteRule ^product/([^/]+)/?$ product.php?slug=$1 [QSA,L]
RewriteRule ^auth$ app/AuthController.php [L]
RewriteRule ^resources$ app/ProductController.php [L]

# Configurar página de error 404
ErrorDocument 404 /404.php
